$stripe1: 15px;
$stripe2: 30px;
$stripe3: 35px;
$stripe4: 42px;

$background01:
    repeating-linear-gradient(-45deg,
    hsla($hue01, 100, 80, .03),
    hsla($hue01, 100, 80, .03) $stripe1,
    transparent $stripe1,
    transparent $stripe2),

    linear-gradient(180deg,
    hsl($hue01, 20, 20),
    hsl($hue02, 20, 10));


$background02:
    repeating-linear-gradient(-45deg,
    hsla($hue01, 80, 20, 1),
    hsla($hue01, 80, 20, 1) $stripe3,
    transparent $stripe3,
    transparent $stripe4),

    repeating-linear-gradient(45deg,
    hsla($hue01, 80, 20, 1),
    hsla($hue01, 80, 20, 1) $stripe3,
    transparent $stripe3,
    transparent $stripe4),

    linear-gradient(180deg,
    hsl($hue01, 80, 22),
    hsl($hue01, 80, 23));
