// background 1
$stripe1: 15px;
$stripe2: 30px;

// background 2
$sat1: 10;
$lit1: 30;
$sat2: 10;
$lit2: 28;
$stripe3: 7px;
$stripe4: 11px;

$background01:
    repeating-linear-gradient(-45deg,
    hsla($hue01, 100, 80, .03),
    hsla($hue01, 100, 80, .03) $stripe1,
    transparent $stripe1,
    transparent $stripe2),

    linear-gradient(180deg,
    hsl($hue01, 20, 20),
    hsl($hue02, 20, 10));


$background02:
    repeating-linear-gradient(-45deg,
    hsla($hue02, $sat1, $lit1, 1),
    hsla($hue02, $sat1, $lit1, 1) $stripe3,
    transparent $stripe3,
    transparent $stripe4),

    repeating-linear-gradient(45deg,
    hsla($hue02, $sat1, $lit1, 1),
    hsla($hue02, $sat1, $lit1, 1) $stripe3,
    transparent $stripe3,
    transparent $stripe4),

    linear-gradient(180deg,
    hsl($hue02, $sat2, $lit2),
    hsl($hue02, $sat2, $lit2));

$background: $background02;