// San-Serif
$font-ss01: 'epilogue'; // w s
$font-ss02: 'league spartan'; // w
$font-ss03: 'cabin'; // w w
$font-ss04: 'cabin-italic'; // w w
$font-ss05: 'commissioner'; // w s f v
$font-ss06: 'inter'; // w s
$font-ss07: 'jost'; // w s
$font-ss08: 'robotoflex'; // 12
$font-ss09: 'secuela'; // w
$font-ss10: 'secuela-italic'; // w
$font-ss11: 'spacegrotesk'; // w
$font-ss12: 'sudo'; // w i
$font-ss13: 'worksans'; // w
$font-ss14: 'worksans-italic'; // w
$font-ss15: 'manrope'; // w

// Serif
$font-s01: 'crimsonpro'; // w
$font-s02: 'crimsonpro-italic'; // w
$font-s03: 'fraunces'; // o s w w
$font-s04: 'fraunces-italic'; // o s w w
$font-s05: 'minipax'; // w

// Mono-Spaced
$font-m01: 'league mono'; // w w
$font-m02: 'firacode'; // w

// Slab-Serif
$font-sl01: 'heptaslabbeta'; // w
$font-sl02: 'graduate'; // 12

// Rounded San-Serif
$font-r01: 'dosis'; // w
$font-r02: 'comfortaa'; // w


@font-face {
  font-family: 'epilogue';
  src: url(../fonts/variable/epilogue.woff2);
  // wght 100 900
  // slnt -12 0
}

@font-face {
  font-family: 'league mono';
  src: url(../fonts/variable/league_Mono.woff2);
  // wght 100 800
  // wdth 50 200
}

@font-face {
  font-family: 'league spartan';
  src: url(../fonts/variable/league_spartan.woff2);
  // wght 200 900
}

@font-face {
  font-family: 'cabin';
  src: url(../fonts/variable/cabin.ttf);
  // wght 95 128
  // wdth 0 100
}

@font-face {
  font-family: 'cabin-italic';
  src: url(../fonts/variable/cabin-italic.ttf);
  // wght 95 128
}

@font-face {
  font-family: 'commissioner';
  src: url(../fonts/variable/commissioner.ttf);
  // wght 100 900
  // slnt -12 0
  // flar 0 100
  // volm 0 100 (not sure what this does)
}

@font-face {
  font-family: 'crimsonpro';
  src: url(../fonts/variable/crimsonpro.ttf);
  // wght 275 900
}

@font-face {
  font-family: 'crimsonpro-italic';
  src: url(../fonts/variable/crimsonpro-italic.ttf);
  // wght 275 900
}

@font-face {
  font-family: 'firacode';
  src: url(../fonts/variable/firacode.ttf);
  // wght 300 700
}

@font-face {
  font-family: 'fraunces';
  src: url(../fonts/variable/fraunces.woff2);
  // opsz 9 144 (optical size)
  // soft 0 100
  // wght 100 900
  // wonk 0 1
}

@font-face {
  font-family: 'fraunces-italic';
  src: url(../fonts/variable/fraunces-italic.woff2);
  // opsz 9 144 (optical size)
  // soft 0 100
  // wght 100 900
  // wonk 0 1
}

@font-face {
  font-family: 'heptaslabbeta';
  src: url(../fonts/variable/heptaslabbeta.ttf);
  // wght 0 900
}

@font-face {
  font-family: 'inter';
  src: url(../fonts/variable/inter.ttf);
  // wght 100 900
  // slnt -10 0
}

@font-face {
  font-family: 'jost';
  src: url(../fonts/variable/jost.ttf);
  // wght 100 900
  // slnt 0 2
}

@font-face {
  font-family: 'minipax';
  src: url(../fonts/variable/minipax.ttf);
  // wght 100 600
}


@font-face {
  font-family: 'robotoflex';
  src: url(../fonts/variable/robotoflex.ttf);
  // wght 100 1000
  // wdth 25 151
  // opsz 8 144
  // grad -1 1
  // slnt -10 0
  // xtra 323 603
  // xopq 27 175
  // yopq 25 135
  // ytlc 528 760
  // ytas 649 854
  // ytde -305 -98
  // ytfi 560 788
}

@font-face {
  font-family: 'secuela';
  src: url(../fonts/variable/secuela.ttf);
  // wght 300 800
}

@font-face {
  font-family: 'secuela-italic';
  src: url(../fonts/variable/secuela-italic.ttf);
  // wght 300 800
}

@font-face {
  font-family: 'spacegrotesk';
  src: url(../fonts/variable/spacegrotesk.ttf);
  // wght 300 700
}

@font-face {
  font-family: 'sudo';
  src: url(../fonts/variable/sudo.woff2);
  // wght 200 700
  // ital 0 1
}

@font-face {
  font-family: 'worksans';
  src: url(../fonts/variable/worksans.ttf);
  // wght 250 900
}

@font-face {
  font-family: 'worksans-italic';
  src: url(../fonts/variable/worksans-italic.ttf);
  // wght 250 900
}

@font-face {
  font-family: 'dosis';
  src: url(../fonts/variable/dosis.ttf);
  // wght 200 800
}

@font-face {
  font-family: 'comfortaa';
  src: url(../fonts/variable/comfortaa.ttf);
  // wght 300 700
}

@font-face {
  font-family: 'graduate';
  src: url(../fonts/variable/graduate.ttf);
  // xopq 100 900
  // xtra 100 800
  // opsz 8 16
  // grad 0 20
  // ytra 750 850
  // cntr 0 100
  // yopq 100 800
  // serf 0 30
  // ytas 0 50
  // ytlc 650 750
  // ytde 0 50
  // sele -20 0
}

@font-face {
  font-family: 'manrope';
  src: url(../fonts/variable/manrope.ttf);
  // wght 200 800
}
