@import "variables.scss";

nav {             background: $swatch11;
                  padding: 1px;
                  display: flex;
                  justify-content: center; }

nav ul {          list-style-type: none;
                  display: flex;
                  margin: 0;
                  padding: 0; }

nav ul li {       padding: 10px 20px;
                  background: $swatch11;
                  text-align: right;}

nav ul li:hover { padding: 10px 20px;
                  background: $swatch10;    }

#navLinks {       display: flex;
                  justify-content: flex-end; }

.hambox {         display: none; }

#hamburger {      background: $swatch11;
                  padding: 10px 15px;
                  display: none; }

#hamburger:hover {background: $swatch10; }


@media only screen and (max-width: 940px) {
nav {        display: block; }
#navLinks {  display: none; }
#hamburger { display: block; }           
.hambox {    display: flex;
             justify-content: flex-end; } }

@media only screen and (max-width: 700px) { }

@media only screen and (max-width: 500px) { }
