$hue01: 20;
$hue02: 120;
$textcolor: hsl($hue01, 50, 30);


$swatch11: hsla($hue01, 60, 80, 1) ;
$swatch12: hsla($hue01, 60, 40, 1) ;
$swatch21: hsla($hue02, 60, 80, 1) ;
$swatch22: hsla($hue02, 90, 30, 1) ;



$stripe1: 15px;
$stripe2: 30px;
