@import "variables.scss";
@import "fonts.scss";
@import "backgrounds.scss";

html {                 box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit;    }

body {         font-family: 'Epilogue', sans-serif;
               font-variation-settings: "wdth" 0, "wght" 400;
               background: $background02;
               background-attachment: fixed;
               color: $textcolor;
               padding: 20px;
               max-width: 1500px;
               margin: auto; }


header, main { margin: auto;
               background-color: hsl($hue01, 20, 96);
               padding: 2px 40px;
               max-width: 1500px;
               box-shadow: 0px 6px 4px hsla($hue01, 0, 0, .2);}

header {       text-align: center; }

.bgtest {      background-color: $swatch11;
               background-image: url("../img/tex/13.jpg");
               background-blend-mode: multiply;
               padding: 30px; }

h1     {       font-variation-settings: "wdth" 0, "wght" 500;
               font-size: 3em;}

footer {       background-color: white;
               margin: 0px;
               padding: 4px 30px;   }

.swatchpage {  display: grid;
               grid-template-columns: 1fr 4fr;
               max-width: 500px;
               margin: auto;
               margin-top: 60; }

.swatch10 {    background-color: $swatch10;
               width: 30px;
               height: 30px; }
.swatch11 {    background-color: $swatch11;
               width: 30px;
               height: 30px; }
.swatch12 {    background-color: $swatch12;
               width: 30px;
               height: 30px; }
.swatch20 {    background-color: $swatch20;
              width: 30px;
              height: 30px; }
.swatch21 {    background-color: $swatch21;
               width: 30px;
               height: 30px; }
.swatch22 {    background-color: $swatch22;
               width: 30px;
               height: 30px; }




.swatchpage h3 {margin: 0px;}
