@import "variables.scss";
@import "fonts.scss";
@import "backgrounds.scss";
@import "nav.scss";

html {                 box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit;    }

body {         font-family: $font-ss15, sans-serif;
               font-variation-settings: "wdth" 0, "wght" 400;
               background: $background;
               background-attachment: fixed;
               color: $textcolor;
               padding: 20px; }

a {            color: $swatch22;
               text-decoration: none; }

header, main,
footer       { background-color: hsl($hue01, 20, 96);
               padding: 2px 160px;
               box-shadow: 0px 6px 4px hsla($hue01, 0, 0, .2);}

header {       text-align: center; }

footer {       padding-bottom: 30px;}

.paper {       margin: auto;
               max-width: 1200px; }

.bgtest {      background-color: $swatch11;
               background-image: url("../img/tex/13.jpg");
               background-blend-mode: multiply;
               padding: 30px; }

h1     {       font-variation-settings: "wdth" 0, "wght" 400;
               font-size: 3em;}

li {           font-variation-settings: "wdth" 0, "wght" 700;}

.swatchi     { display: flex;
               justify-content: flex-start;
               margin: 5px;}

.swatch {      width: 30px;
               height: 30px;
               border-radius: 50%;
               margin-right: 10px;
               border: 1px solid hsla($hue01, 70, 10, .1);}

.swatch10 {    background-color: $swatch10; }
.swatch11 {    background-color: $swatch11; }
.swatch12 {    background-color: $swatch12; }
.swatch20 {    background-color: $swatch20; }
.swatch21 {    background-color: $swatch21; }
.swatch22 {    background-color: $swatch22; }

.swatchpage h3 {margin: 0px;}


@media only screen and (max-width: 940px) {

}

@media only screen and (max-width: 700px) {

}

@media only screen and (max-width: 500px) {

}
