@import "variables.scss";
@import "fonts.scss";

html {                 box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit;    }

body {        font-family: 'Epilogue', sans-serif;
              font-variation-settings: "wdth" 0, "wght" 95;
              background:
              repeating-linear-gradient(-45deg,
              hsla($hue01, 100, 80, .02), hsla($hue01, 100, 80, .02) 3px,
              transparent 3px, transparent 10px),

              linear-gradient(180deg,
              hsl($hue01, 50, 50),
              hsl($hue02, 40, 10));
              background-attachment: fixed;

              color: $textcolor; }


body {         padding: 50px;
               background-color: grey;}

main, header { background-color: white;
               padding: 40px;}

header {       text-align: center;}

h1     {       font-variation-settings: "wdth" 0, "wght" 128;
               font-size: 3em;}
